page-player {
  ion-header{
    img{
      margin-left: 70px;
      width:50%!important;
    }
    .toolbar-background{
      background: rgba(255, 255, 255, 0.9);
    }
    .toolbar-title, .back-button.show-back-button{
      color: black;
    }      
    
  }

  div.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    

    h4{
      padding: 50px 20px;
      color: black;
      text-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
      font-size: 2em;
      font-weight: 900;      
    }
  }

  .scroll-content{
    padding-top: 0px !important;

    div.footer{
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: rgba(0, 0, 0, 0.51);


      .thumbnail{
        border-radius:5px;
        width: 50px;
        height: 50px;
        margin: 5px;

        &.auto{
          .dot{
            position: absolute;
            width: 5px;
            height: 5px;
            margin: 22px;
            border-radius:50%;
            background: #cca92c;
            cursor: pointer;
            box-shadow: 0 0 0 rgba(204,169,44, 0.4);          
              
            &.running{
              animation: pulse 1.5s infinite;    
            }
          }
        }
      }

      button.nora-play{
        position: absolute;
        bottom: 8px;
        right: 5px;
        box-shadow: 0 0 2px rgb(0, 0, 0);
        border-radius:50%;
        width: 40px;
        height: 40px;        
      }      
    }

  }

}
