page-player {
  ion-header{
    img{
      margin-left: 50px;
      width:50%!important;
    }
    .toolbar-background{
      background: rgba(255, 255, 255, 0.9);
    }
    .toolbar-title, .back-button.show-back-button{
      color: black;
    }      
    
  }

  div.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    

    h4{
      padding: 50px 20px;
      color: white;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
      font-size: 2em;
      font-weight: 200;      
    }
  }

  .scroll-content{
    padding-top: 0px !important;

    div.footer{
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 500px;
      margin-bottom: -440px;
      background: rgba(0, 0, 0, 0.51);
      transition: margin-bottom ease .5s;
      &.controls{
        margin-bottom: 0px;        
      }

      .volume{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10000;        

        ion-item{
          background-color: rgba(75, 75, 75, 0.55);
          height: 40px;
          .item-inner{
            border: 0;
          }
          ion-range{
            background-color: rgba(75, 75, 75, 0.35);
          }
          ion-icon{
            color:white;
          }
        }
        
      }

      .map{
        width: 100%;
        height: 100%;
        bottom: 0;
        margin-top: 0px;        
      }

      .thumbnail{
        border-radius:5px;
        width: 50px;
        height: 50px;
        margin: 5px;

        &.auto{
          .dot{
            position: absolute;
            width: 5px;
            height: 5px;
            margin: 22px;
            border-radius:50%;
            background: #cca92c;
            cursor: pointer;
            box-shadow: 0 0 0 rgba(204,169,44, 0.8);          
              
            &.running{
              animation: pulse 1.5s infinite;    
            }
          }
        }
      }

      button.nora-play{
        position: absolute;
        top: 8px;
        right: 5px;
        box-shadow: 0 0 2px rgb(0, 0, 0);
        border-radius:50%;
        width: 40px;
        height: 40px;        
      }      

      .info{
        color: white;
        position: absolute;
        left: 70px;
        top: 10px;        
      }
    }

  }

}
